/* 1. Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Set full height */
html, body {
  height: 100%;
}

/* 3. Body defaults */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f0f;
  color: white;
 
}

/* 4. Images */
img {
  max-width: 100%;
  display: block;
}

/* 5. Links */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. Buttons */
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* 7. Lists */
ul, ol {
  list-style: none;
}


/* ===== REMOVE MOBILE TAP EFFECTS ===== */

@media (hover: none) {

  a:hover,
  a:focus,
  a:active,
  button:hover,
  button:focus,
  button:active {
    color: inherit !important;
    background: inherit !important;
    transform: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }

}

/* REMOVE TAP HIGHLIGHT (ANDROID FIX) */

* {
  -webkit-tap-highlight-color: transparent;
}